

<style>
.topnav {
	background-color: aliceblue;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
	border: 1px solid transparent;
}

.topnav a:hover {
	border-bottom: 3px solid black;
}

.topnav a.active {
	background-color: lavender;
}
</style>

<script type="text/javascript">
/*
$(function() {
	$(".topnav a").bind('click', function(e) {
		$(".topnav a").removeClass( "active" )
		$(this).addClass( "active" );
	});

});
	*/
</script>



 <div class="topnav">
  <a href="create_vocabulary" >Load Deck</a>
  <a href="flashcards">Flashcards</a>
  <a href="text_read">Read Text Helper</a>
</div> 